@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OpenSans.eot);
  src: local("Open Sans"), local("OpenSans"), url(fonts/OpenSans.eot) format("embedded-opentype"), url(fonts/OpenSans.woff) format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/OpenSans-SemiBold.eot);
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(fonts/OpenSans-SemiBold.eot) format("embedded-opentype"), url(fonts/OpenSans-SemiBold.woff) format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/OpenSans-Bold.eot);
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(fonts/OpenSans-Bold.eot) format("embedded-opentype"), url(fonts/OpenSans-Bold.woff) format("woff"); }

/* line 2, compass/components/_global.sass */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  padding-top: 50px; }

@media (max-width: 979px) {
  /* line 3, compass/components/_responsive.sass */
  body {
    padding-top: 0 !important; }

  /* line 5, compass/components/_responsive.sass */
  .navbar-fixed-top {
    margin-bottom: 0px; } }
@media (max-width: 767px) {
  /* line 9, compass/components/_responsive.sass */
  body {
    padding-left: 20px;
    padding-right: 20px; }

  /* line 12, compass/components/_responsive.sass */
  .navbar-fixed-top {
    margin-bottom: 20px; }

  /* line 14, compass/components/_responsive.sass */
  .navbar .nav > li > a {
    font-size: 0 !important; }

  /* line 16, compass/components/_responsive.sass */
  .navbar .nav > li > a > i {
    font-size: 24px !important; } }
/* line 2, compass/components/_page.sass */
html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

/* line 7, compass/components/_page.sass */
#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px; }

/* line 13, compass/components/_page.sass */
#page-footer, .push {
  height: 80px; }

/* line 18, compass/components/_page.sass */
#page {
  padding-left: 0;
  padding-right: 0; }
  /* line 21, compass/components/_page.sass */
  #page .brand {
    background: url('images/logo.png?1401349737') no-repeat;
    width: 157px;
    height: 40px;
    padding: 0;
    margin-left: 0px; }

/* line 28, compass/components/_page.sass */
.page-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
  letter-spacing: -1px; }
  /* line 34, compass/components/_page.sass */
  .page-title i {
    font-size: 20px;
    color: #4c4f53; }
  /* line 37, compass/components/_page.sass */
  .page-title small {
    font-size: 15px !important;
    color: #aaaaaa;
    display: inline-block; }

/* line 3, compass/components/_navbar.sass */
.navbar .navbar-inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  border-bottom: 1px solid #c9c4c1;
  background: #f8f8f8;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f2f2f2)), #f8f8f8;
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2), #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2), #f8f8f8;
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2), #f8f8f8;
  background: linear-gradient(top, #f8f8f8, #f2f2f2), #f8f8f8;
  -webkit-box-shadow: inset 0 1px 1px white;
  -moz-box-shadow: inset 0 1px 1px white;
  box-shadow: inset 0 1px 1px white; }
/* line 14, compass/components/_navbar.sass */
.navbar .divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-left: 1px dotted #cccccc;
  border-right: 1px dotted white; }
/* line 20, compass/components/_navbar.sass */
.navbar .nav > li > a {
  font: 13px 400;
  float: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px; }
/* line 30, compass/components/_navbar.sass */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3); }
/* line 33, compass/components/_navbar.sass */
.navbar .divider-vertical {
  margin: 0 5px; }
/* line 36, compass/components/_navbar.sass */
.navbar .brand {
  font: 20px 700; }

/* line 40, compass/components/_navbar.sass */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-shadow: none; }

/* line 44, compass/components/_navbar.sass */
.dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  text-shadow: none; }

/* line 2, compass/components/_breadcrumb.sass */
.breadcrumb {
  font-size: 13px/35px;
  line-height: 35px;
  padding: 0 15px;
  background-color: #474544;
  border-radius: 0;
  min-height: 35px;
  margin: 0 0 10px; }
  /* line 10, compass/components/_breadcrumb.sass */
  .breadcrumb a {
    color: #e4e4e4;
    text-shadow: 0 -1px black; }
    /* line 13, compass/components/_breadcrumb.sass */
    .breadcrumb a:hover {
      text-decoration: underline; }
  /* line 15, compass/components/_breadcrumb.sass */
  .breadcrumb li.active {
    color: #bbbbbb;
    text-shadow: 0 -1px black; }

/* line 2, compass/components/_dropdown.sass */
.dropdown-menu {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 5, compass/components/_dropdown.sass */
  .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    text-shadow: none; }

/* line 8, compass/components/_dropdown.sass */
.dropdown-submenu:focus, .dropdown-submenu:hover {
  text-shadow: none; }

/* line 11, compass/components/_dropdown.sass */
.open > .dropdown-menu {
  /*-webkit-animation: flipInY 0.3s 0 ease both;
  -moz-animation: flipInY 0.3s 0 ease both;
  -ms-animation: flipInY 0.3s 0 ease both;
  -o-animation: flipInY 0.3s 0 ease both;
  animation: flipInY 0.3s 0 ease both;*/ }

/* line 2, compass/components/_box.sass */
.bootstrap-widget-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333;
  text-shadow: 0 1px 0 white;
  border: 1px solid #dadada;
  background: #fafafa;
  background: #efefef;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #efefef)), #efefef;
  background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%), #efefef;
  background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%), #efefef;
  background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%), #efefef;
  background: linear-gradient(top, #fafafa 0%, #efefef 100%), #efefef; }
  /* line 19, compass/components/_box.sass */
  .bootstrap-widget-header h3 {
    font-weight: 400;
    line-height: 34px;
    margin: 0; }
  /* line 23, compass/components/_box.sass */
  .bootstrap-widget-header > [class^="icon-"], .bootstrap-widget-header > [class*=" icon-"] {
    margin-left: 0; }
  /* line 28, compass/components/_box.sass */
  .bootstrap-widget-header .bootstrap-toolbar ul.dropdown-menu i {
    margin-left: 0 !important;
    margin-right: 0 !important; }

/* line 33, compass/components/_box.sass */
.bootstrap-widget-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #dfdfdf;
  border-bottom: 0; }
  /* line 38, compass/components/_box.sass */
  .bootstrap-widget-content:last-child {
    border-bottom: 2px solid #cfcfcf; }

/* line 41, compass/components/_box.sass */
.bootstrap-widget-footer {
  border: 1px solid #dadada;
  display: block;
  min-height: 32px;
  vertical-align: middle;
  position: relative;
  background-color: #f8f7f7;
  padding: 5px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 2px solid #cfcfcf; }
  /* line 52, compass/components/_box.sass */
  .bootstrap-widget-footer .form-actions {
    margin-top: 0;
    margin-bottom: 0;
    border: 0; }

/* line 2, compass/components/_alert.sass */
.alert {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: none;
  border-left-width: 5px;
  border-color: #c42a26;
  color: white;
  background: #ca6a6a; }
  /* line 10, compass/components/_alert.sass */
  .alert.alert-success {
    background-color: #dff0d8;
    border-color: #88c289;
    color: #468847; }
  /* line 14, compass/components/_alert.sass */
  .alert.alert-info {
    background-color: #d6dde7;
    border-color: #9cb4c5;
    color: #346597; }
  /* line 18, compass/components/_alert.sass */
  .alert.alert-warning {
    background-color: #faebb9;
    border-color: #dd8635;
    color: #826430; }

/* line 4, compass/components/_form.sass */
.form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block, .form-horizontal .uneditable-input + .help-block, .form-horizontal .input-prepend + .help-block, .form-horizontal .input-append + .help-block {
  font: 11px/12px;
  margin-top: 4px; }

/* line 8, compass/components/_form.sass */
label {
  font-size: 13px; }

/* line 13, compass/components/_form.sass */
.form-inline .help-block.error, .form-inline .help-inline.error, form-horizontal .help-block.error, form-horizontal .help-inline.error, form-vertical .help-block.error, form-vertical .help-inline.error {
  color: #eea4a3;
  font-size: 11px/11px;
  font-style: italic; }

/* line 18, compass/components/_form.sass */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  color: #333333;
  font-size: 13px;
  border-color: #bdbdbd;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  /* line 24, compass/components/_form.sass */
  textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #388dff;
    color: #444444; }

/* line 31, compass/components/_form.sass */
.select2-results {
  background-color: #d7e1f1;
  color: black; }

/* line 36, compass/components/_form.sass */
.form-actions {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(248, 248, 248, 0.9); }

/* line 2, compass/components/_grid.sass */
.grid-view {
  padding-top: 0 !important; }

/* line 5, compass/components/_grid.sass */
.table {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 8, compass/components/_grid.sass */
  .table.table-bordered thead tr th {
    border-left: 1px solid #dddddd;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important; }
  /* line 12, compass/components/_grid.sass */
  .table.table-bordered tbody tr td, .table.table-bordered tbody tr th {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important; }
  /* line 14, compass/components/_grid.sass */
  .table.table-striped > tbody > tr:nth-child > td {
    background-color: #f9f9f9; }
  /* line 16, compass/components/_grid.sass */
  .table.table-hover > tbody > tr:hover > td {
    background-color: #ecf3f8; }
  /* line 18, compass/components/_grid.sass */
  .table thead tr {
    background: #f2f2f2;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #f2f2f2)), #f2f2f2;
    background: -webkit-linear-gradient(top, #fafafa, #f2f2f2), #f2f2f2;
    background: -moz-linear-gradient(top, #fafafa, #f2f2f2), #f2f2f2;
    background: -o-linear-gradient(top, #fafafa, #f2f2f2), #f2f2f2;
    background: linear-gradient(top, #fafafa, #f2f2f2), #f2f2f2; }
    /* line 20, compass/components/_grid.sass */
    .table thead tr th {
      font-size: 13px;
      font-weight: 700;
      color: #333333; }
  /* line 24, compass/components/_grid.sass */
  .table.items tr.selected td {
    background: #ffffd5; }

/* line 2, compass/components/_button.sass */
.btn {
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  /* line 7, compass/components/_button.sass */
  .btn:focus {
    background-position: 0; }
  /* line 9, compass/components/_button.sass */
  .btn[disabled] {
    color: #999999;
    text-shadow: 0 1px white;
    background-color: #eeeeee;
    border: 1px solid #cccccc; }

/* line 16, compass/components/_button.sass */
.btn-group > .btn:first-child {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px; }
/* line 18, compass/components/_button.sass */
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px; }

/* line 2, compass/components/_tab.sass */
.nav-tabs {
  margin-bottom: 0;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd; }
  /* line 8, compass/components/_tab.sass */
  .nav-tabs > li {
    margin-bottom: -1px; }
    /* line 10, compass/components/_tab.sass */
    .nav-tabs > li > a {
      font-size: 14px;
      padding: 6px 10px;
      border: 1px solid #dadada;
        border-top: 0;
        border-bottom: 0;
      color: #888888;
      position: relative;
      bottom: -1px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 -2px 0 #cccccc;
      -moz-box-shadow: 0 -2px 0 #cccccc;
      box-shadow: 0 -2px 0 #cccccc; }
      /* line 21, compass/components/_tab.sass */
      .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        border-color: #dadada;
        color: #4d4d4d;
        background-color: white;
        -webkit-box-shadow: 0 -2px 0 #999999;
        -moz-box-shadow: 0 -2px 0 #999999;
        box-shadow: 0 -2px 0 #999999; }
    /* line 27, compass/components/_tab.sass */
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      font-weight: bold;
      position: relative;
      bottom: -1px;
      -webkit-box-shadow: 0 -2px 0 #45a6ce;
      -moz-box-shadow: 0 -2px 0 #45a6ce;
      box-shadow: 0 -2px 0 #45a6ce; }
  /* line 32, compass/components/_tab.sass */
  .nav-tabs > li:first-child > a {
    border-left: 0 !important; }

/* line 35, compass/components/_tab.sass */
.tab-content {
  padding: 10px !important;
  border: 1px solid #dddddd;
  border-top: 0; }
  /* line 39, compass/components/_tab.sass */
  .tab-content.tab-content-flex {
    overflow: visible; }

/* line 3, compass/components/_detailview.sass */
.detail-view .null {
  font-size: 12px;
  font-style: italic;
  color: #cccccc; }

/* line 2, compass/components/_modal.sass */
.modal {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 4, compass/components/_modal.sass */
  .modal.in {
    -webkit-animation: bounceInDown 0.5s 0.2s ease both;
    -moz-animation: bounceInDown 0.5s 0.2s ease both;
    -ms-animation: bounceInDown 0.5s 0.2s ease both;
    -o-animation: bounceInDown 0.5s 0.2s ease both;
    animation: bounceInDown 0.5s 0.2s ease both; }
  /* line 7, compass/components/_modal.sass */
  .modal .modal-header {
    -webkit-box-shadow: inset 0 3px #83a2cf;
    -moz-box-shadow: inset 0 3px #83a2cf;
    box-shadow: inset 0 3px #83a2cf; }
    /* line 9, compass/components/_modal.sass */
    .modal .modal-header h1, .modal .modal-header h2, .modal .modal-header h3, .modal .modal-header h4, .modal .modal-header h5, .modal .modal-header h6 {
      font-size: 16px;
      font-weight: 600; }
    /* line 12, compass/components/_modal.sass */
    .modal .modal-header .close {
      margin-top: 10px;
      font-size: 24px; }
  /* line 16, compass/components/_modal.sass */
  .modal .modal-body {
    max-height: 290px; }
  /* line 19, compass/components/_modal.sass */
  .modal .modal-footer {
    padding: 10px; }
  /* line 21, compass/components/_modal.sass */
  .modal .modal-backdrop {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }
  /* line 23, compass/components/_modal.sass */
  .modal.modal-small {
    width: 200px;
    margin-left: -100px; }
  /* line 26, compass/components/_modal.sass */
  .modal.modal-large {
    margin-left: -450px; }

/* line 1, compass/components/_footer.sass */
#page-footer {
  font-size: 13px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #2d2d2d;
  color: #80898d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #2a2725;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(85%, #3a3633), color-stop(100%, #2a2725)), #2a2725;
  background: -webkit-linear-gradient(top, #3a3633 85%, #2a2725), #2a2725;
  background: -moz-linear-gradient(top, #3a3633 85%, #2a2725), #2a2725;
  background: -o-linear-gradient(top, #3a3633 85%, #2a2725), #2a2725;
  background: linear-gradient(top, #3a3633 85%, #2a2725), #2a2725; }
  /* line 13, compass/components/_footer.sass */
  #page-footer a {
    color: #a8a8a8;
    font-weight: 400;
    text-decoration: underline; }
  /* line 18, compass/components/_footer.sass */
  #page-footer ul.nav {
    margin-top: 8px; }
    /* line 20, compass/components/_footer.sass */
    #page-footer ul.nav > li > a {
      border-radius: 0;
      text-decoration: none;
      color: #a8a8a8;
      font-weight: 400;
      padding: 3px 8px;
      border-left: 1px solid #555555;
      border-right: 1px solid #222222;
      margin: 0; }
      /* line 30, compass/components/_footer.sass */
      #page-footer ul.nav > li > a:hover {
        background-color: transparent;
        color: #eeeeee;
        text-decoration: underline; }
    /* line 34, compass/components/_footer.sass */
    #page-footer ul.nav > li:first-child > a {
      border-left: 0; }
    /* line 36, compass/components/_footer.sass */
    #page-footer ul.nav > li:last-child > a {
      border-right: 0; }

/* line 1, compass/components/_jumbotron.sass */
.well {
  /*color: white;*/
  padding: 45px;
  margin: 15px;
  border: 1px solid #197208;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 7, compass/components/_jumbotron.sass */
  .well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
    letter-spacing: -1px;
    font-weight: 700;
    text-shadow: 0 -1px #226b1d; }
  /* line 11, compass/components/_jumbotron.sass */
  .well p {
    border-top: 1px solid rgba(13, 83, 9, 0.16);
    margin-top: 20px;
    padding: 10px;
    letter-spacing: -1px;
    font-size: 18px;
    font-weight: 600; }
  /* line 18, compass/components/_jumbotron.sass */
  .well.well-success {
    background: #37c434;
    background: url('images/noise.png?1407509812'), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #36c333), color-stop(100%, #439d29)), #37c434;
    background: url('images/noise.png?1407509812'), -webkit-radial-gradient(center 10%, #36c333, #439d29), #37c434;
    background: url('images/noise.png?1407509812'), -moz-radial-gradient(center 10%, #36c333, #439d29), #37c434;
    background: url('images/noise.png?1407509812'), -o-radial-gradient(center 10%, #36c333, #439d29), #37c434;
    /*background: url('images/noise.png?1407509812'), radial-gradient(center 10%, #36c333, #439d29), #37c434; }*/
  /* line 20, compass/components/_jumbotron.sass */
  .well.well-error {
    background-color: #ffe9e4;
    border: 1px solid #eb7b7b;
      border-left-width: 8px; }
    /* line 24, compass/components/_jumbotron.sass */
    .well.well-error h1, .well.well-error h2, .well.well-error h3, .well.well-error h4, .well.well-error h5, .well.well-error h6,
    .well.well-error p {
      color: #e43f3f; }
  .well.well-warning {
    background: #DD8635;
    background: url('images/noise.png?1407509812'), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #DD8635), color-stop(100%, #DD7C35)), #DD8635;
    background: url('images/noise.png?1407509812'), -webkit-radial-gradient(center 10%, #DD8635, #DD7C35), #DD8635;
    background: url('images/noise.png?1407509812'), -moz-radial-gradient(center 10%, #DD8635, #DD7C35), #DD8635;
    background: url('images/noise.png?1407509812'), -o-radial-gradient(center 10%, #DD8635, #DD7C35), #DD8635;
    background: url('images/noise.png?1407509812'), radial-gradient(center 10%, #DD8635, #DD7C35), #DD8635;
  }

/* line 1, compass/components/_badge.sass */
.badge {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  width: 22px;
  height: 20px;
  padding: 4px 4px; }

/* line 16, compass/components/_util.sass */
.color-red {
  color: #a90329; }

/* line 19, compass/components/_util.sass */
.color-lightRed {
  color: #a65858; }

/* line 22, compass/components/_util.sass */
.color-blue {
  color: #568a89; }

/* line 25, compass/components/_util.sass */
.color-lightBlue {
  color: #57889c; }

/* line 28, compass/components/_util.sass */
.color-purple {
  color: #6e587a; }

/* line 31, compass/components/_util.sass */
.color-pink {
  color: #ac5287; }

/* line 34, compass/components/_util.sass */
.color-lightPink {
  color: #a8829f; }

/* line 37, compass/components/_util.sass */
.color-green {
  color: #356e35; }

/* line 40, compass/components/_util.sass */
.color-lightGreen {
  color: #71843f; }

/* line 43, compass/components/_util.sass */
.color-gray {
  color: #aaaaaa; }

/* line 46, compass/components/_util.sass */
.color-lightGray {
  color: #cccccc; }

/* line 49, compass/components/_util.sass */
.color-darkGray {
  color: #888888; }
