@font-face {
	font-family: "BebasNeueRegular";
	font-style: normal;
	font-weight: normal;
	src: url("../../css/fonts/BebasNeue-webfont.eot?#iefix") format("eot"), url("../../css/fonts/BebasNeue-webfont.woff") format("woff"), url(".../../css/fonts/BebasNeue-webfont.ttf") format("truetype"), url("../../css/fonts/BebasNeue-webfont.svg#webfontfvFLBU0N") format("svg");
}

@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 700;
	src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url('../../css/fonts/YanoneKaffeesatz-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 300;
	src: local('Yanone Kaffeesatz Light'), local('YanoneKaffeesatz-Light'), url('../../css/fonts/YanoneKaffeesatz-Light.woff') format('woff');
}
@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 400;
	src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url('../../css/fonts/YanoneKaffeesatz-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 200;
	src: local('Yanone Kaffeesatz Thin'), local('YanoneKaffeesatz-Thin'), url('../../css/fonts/YanoneKaffeesatz-Thin.woff') format('woff');
}




/** General Style Info **/
h1, h2, h3, h4, h5, h6 {
	color: #2d2d2d;
	margin: 0;
}


div {
}

a {
	line-height: 12px;
	color: #005A9B;
	text-shadow: 0 1px #FFFFFF;
	text-decoration:none;
}

a:hover {
	/*text-decoration:underline;*/
}

a.external {
	background: url('../../img/external-link.png') no-repeat right center;
	padding-right: 16px;
}


/**
* Containers
*/
.form-header {
	color: #444;
	border-bottom: 1px solid #c5d5e5;
	background: -moz-linear-gradient(top, #eff4f6, #e1e9eb);
	background: -webkit-gradient(linear, top left, bottom left, from(#eff4f6), from(#e1e9eb));
	padding: 6px 10px;
	margin: 0;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
}

.form-header h1,
.form-header h2,
.form-header h3,
.form-header h4,
.form-header h5,
.form-header h6 {
	color: #444;
	display: inline;
	margin: 0 4px;
	font-size: 26px;
	font-family: 'BebasNeueRegular';
	text-shadow: 0 1px 0 #fff;
}

.form-header h2 {	font-size: 22px; }
.form-header h3 { font-size: 18px; }
.form-header h4 {	font-size: 16px; }
.form-header h5 {	font-size: 14px; }
.form-header h6 {	font-size: 12px; }

.active-area {
	border: 1px solid #c5d5e5;
	background-color: #FFF;
	padding: 0;
	margin: 0;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.form-area {
	overflow: hidden;
}


/**
* Forms and form controls
*/
form {
	width: 100%;
}


.input {
}

.input input[type="text"][disabled],
.input textarea[disabled],
.input select[disabled] {
	border: 1px solid #b8e2fb;
	background-color: #dfeffc;
	color: #005898;
	opacity: 0.8;
}

.input input[type="text"],
.input textarea,
.input select {
	vertical-align: top;
	font: 13px 'Arial';
	padding: 2px 2px 2px 5px;
	background: #fff;
	border: 1px solid silver;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.input select {
/*	background-color: #F3F3F3;*/
	background: -moz-linear-gradient(top, #fff, #f0f0f0);
	padding: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.input input:focus[type="text"],
.input textarea:focus,
.input select:focus {
	border: 1px solid #005898;
}

.input button {
	position: relative;
	top: -2px;
}


input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	background: #222 url(../../img/button-overlay.png) repeat-x center center;
	display: inline-block;
	vertical-align: top;

	margin: 1px;
	color: #fff;
	text-decoration: none;

	font-weight: bold;
        white-space: nowrap;
	line-height: 1;
	border: 0 none transparent !important;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	padding: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}

button.icon-only {
	width: 20px;
	height: 20px;
	padding: 0 0 0 0;
}


input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background-color: #3d3d3d;
	color: #fff;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active {
	background-color: #1d1d1d;
}

button.blue {	background-color: #055f9d }
button.blue:hover {	background-color: #0177bd; }
button.blue:active { background-color: #045e9c; }

button.red { background-color: #e33100; }
button.red:hover {	background-color: #e6491f; }
button.red:active {	background-color: #c30000; }

button.green {    background-color: #4a960f }
button.green:hover {    background-color: #66d40f; }
button.green:active { background-color: #54ac0c; }



input[type="submit"][disabled], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:active,
input[type="reset"][disabled], input[type="reset"][disabled]:hover, input[type="reset"][disabled]:active,
input[type="button"][disabled], input[type="button"][disabled]:hover, input[type="button"][disabled]:active,
button[disabled], button[disabled]:hover, button[disabled]:active {
	border: 1px solid #cccccc !important;
	color: #888;
	background-color: #f3f3f3;
	background-image: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0 -1px 1px #fff;
	cursor: default !important;
}

.buttonset {
	display: inline-block;
	width: auto;
	margin: 1px;
	vertical-align: middle;
}

.buttonset input[type="submit"],
.buttonset input[type="reset"],
.buttonset input[type="button"],
.buttonset button  {
	float: left;
	margin: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
    border-right: 1px dotted rgba(255, 255, 255, 0.5) !important;
}

.buttonset input[type="submit"]:first-child,
.buttonset input[type="reset"]:first-child,
.buttonset input[type="button"]:first-child,
.buttonset button:first-child  {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.buttonset input[type="submit"]:last-child,
.buttonset input[type="reset"]:last-child,
.buttonset input[type="button"]:last-child,
.buttonset button:last-child  {
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
    border-right: none !important;
}



fieldset {
	border: 1px solid #A5C9D5;
	padding: 10px 15px;
	margin: 10px 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


legend {
	font-size: 1.5em;
    font-weight: normal;
	color: #2e86c7;
	-moz-box-shadow: 0 0 10px 5px #fff;
	-webkit-box-shadow: 0 0 10px 5px #fff;
	box-shadow: 0 0 10px 5px #fff;
}


.form-column {
	float: left;
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form-column2 {
	float: right;
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.input, .detail {
	width: 100%;
	display: inline-block;
	float: left;
	padding: 2px 4px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.input label {
	display: inline-block;
	color: #2d2d2d;
	vertical-align: top;
	max-width: 150px;
	width: 35%;
}

.input label .description {
	font: normal 12px Arial;
	color: #8d8d8d;
}

.details-column {
	float: left;
	padding: 0;
	margin: 0;

	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.details-column .detail {
	border: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
	float: left;
	height: 28px;
	overflow: hidden;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #e8e8e8;
	border-top: 0;
	border-right: 0;

}

.detail .label {
	float: left;
	font: bold 13px Arial;
	display: inline-block;
	vertical-align: top;
	padding: 6px 8px;
	height: 20px;
	color: #2A7EA8;
	text-align: right;
	width: 130px;
	background-color: #f1f1f1;

	text-shadow: 0 1px #fff;
	-moz-box-shadow: inset 0 1px #fff;
	-webkit-box-shadow: inset 0 1px #fff;
}

.detail .field {
	float:left;
	display: table-cell;
	padding: 6px 8px 0;
	background-color: #fff;
}



/**
* Checklist
*/
.checklist {
	display: inline-block;
	width: auto;
	border: 1px solid #ccc;
	padding: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.checklist input[type="checkbox"] {
	position: absolute;
	left: -999em;
}

.checklist .checkbox {
	border-bottom: 1px solid #ccc;
}

.checklist .checkbox:last-child {
	border-bottom: none;
}

.checklist label {
	display: block;
	cursor: pointer;
	max-width: none;
	width: auto;
	white-space: nowrap;
	padding: 4px 8px;
	padding-left: 25px;
	background: url(../../img/icons/checkbox_off.png) 4px center no-repeat;
}


.checklist .checkbox:first-child label {
	-moz-border-radius: 6px 6px 0 0;
}

.checklist .checkbox:last-child label {
	-moz-border-radius: 0 0 6px 6px;
}

.checklist label:hover {
	background-color: #ffe;
}

.checklist input[type="checkbox"]:checked + label {
	background: #e8eef0 url(../../img/icons/checkbox_on.png) 4px center no-repeat;

}




/**
* Data Grid
*/
.data-grid {

}

table.data-grid  {
	width: 100%;
	border: 1px solid #98c6ea;

	table-layout: auto;
	border-collapse: separate;
	border-spacing: 0px;
	empty-cells: show;

	-webkit-box-shadow: inset 0 -1px 0 #c5d5e5;
	-moz-box-shadow: inset 0 -1px 0 #c5d5e5;

}

table.data-grid.rounded-borders-top {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}

table.data-grid.rounded-borders-bottom {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

table.data-grid.rounded-borders-all {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

table.data-grid thead tr, table.data-grid tfoot tr {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	margin: 0;
}

/*table.data-grid thead tr:hover {
	background: -moz-linear-gradient(top,  #f4f4f4,  #e5e5e5);
}*/

table.data-grid thead th, table.data-grid tfoot th {
	height: 22px;
	font: bold 13px Arial;
	text-align: left;
	padding: 6px 4px;
	margin: 0;
	color: #444444;
	border: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e5e5e5));
	background: -moz-linear-gradient(top,  #f4f4f4,  #e5e5e5);

	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
}

table.data-grid thead th.form-header {
	color: #444;
	border-bottom: 1px solid #c5d5e5;
	background: -moz-linear-gradient(top, #eff4f6, #e1e9eb);
	background: -webkit-gradient(linear, top left, bottom left, from(#eff4f6), from(#e1e9eb));
	padding: 10px;
	margin: 0;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
}

table.data-grid thead th {
	border-bottom: 1px solid #c5d5e5;
	vertical-align: middle;
}

table.data-grid tfoot th {
	border-top: 1px solid #c5d5e5;
}

table.data-grid thead tr:first-child th:last-child {
	border-left: none;
}

table.data-grid.rounded-borders-all thead:first-child tr:first-child th:first-child,
table.data-grid.rounded-borders-top thead:first-child tr:first-child th:first-child {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
}

table.data-grid.rounded-borders-all thead:first-child,
table.data-grid.rounded-borders-all thead:first-child tr:first-child,
table.data-grid.rounded-borders-all thead:first-child tr:first-child th:last-child,
table.data-grid.rounded-borders-top thead:first-child tr:first-child th:last-child {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
}


table.data-grid tbody tr {
	background: #fff;
}

table.data-grid tbody tr:nth-child(even) td {
	background-color: #fafafa;
}

table.data-grid tbody tr td {
	padding: 6px 8px 6px 5px;
	border-bottom: 1px solid #dddddd;
}

table.data-grid tbody tr:last-child td {
	border-bottom: none;
}

table.data-grid tbody tr:hover td {
	background-color: #ecf7ff;
}

table.data-grid.rounded-borders-all tbody:last-child tr:last-child td:first-child,
table.data-grid.rounded-borders-bottom tbody:last-child tr:last-child td:first-child,
table.data-grid.rounded-borders-all tfoot:last-child tr:last-child th:first-child,
table.data-grid.rounded-borders-bottom tfoot:last-child tr:last-child th:first-child {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
}

table.data-grid.rounded-borders-all tbody:last-child tr:last-child td:last-child,
table.data-grid.rounded-borders-bottom tbody:last-child tr:last-child td:last-child,
table.data-grid.rounded-borders-all tfoot:last-child tr:last-child th:last-child,
table.data-grid.rounded-borders-bottom tfoot:last-child tr:last-child th:last-child {
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

table.data-grid label {
	font-weight: normal;
	color: #2d2d2d;
}



/**
* Pagination
*/

table.data-grid thead th.navigation span {
	display: inline-block;
	float:left;
}

table.data-grid .asc {
	background: transparent url(../../img/icons/bullet_arrow_up.png) no-repeat center right;
	padding-right: 16px;
}

table.data-grid .desc {
	background: transparent url(../../img/icons/bullet_arrow_down.png) no-repeat center right;
	padding-right: 16px;
}





table.data-grid thead th.pagination {
	color: #2d2d2d;
	border-bottom: 1px solid #c5d5e5;
	background: #fff;
	padding: 5px 8px 5px 16px;
	margin: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}


table.data-grid th.pagination .first,
table.data-grid th.pagination .prev,
table.data-grid th.pagination .next,
table.data-grid th.pagination .last,
table.data-grid th.pagination .pages,
table.data-grid th.pagination .current,
table.data-grid th.pagination .counter {
	font: normal 12px Arial;
	background: #333 url(../../img/button-overlay.png) repeat-x center center;
	position: relative;
	display: inline-block;
	height: 24px;
	width: 30px;
	margin: 1px;
	padding-top: 2px;
	padding-left: 0;
	color: #fff;
	text-align:center;
	text-decoration: none;
	font-weight: bold;
	border: 0 none transparent;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}

table.data-grid th.pagination a:hover {
	background-color: #4d4d4d;
}

table.data-grid th.pagination a:active {
	background-color: #1d1d1d;
}

table.data-grid th.pagination .current,
table.data-grid th.pagination .pages {
	position: relative;
	top: -2px;
	line-height: 0;
	min-width: 20px;
	width: auto;
	padding: 12px 0 0 0;
}

table.data-grid th.pagination span.first,
table.data-grid th.pagination span.prev,
table.data-grid th.pagination span.next,
table.data-grid th.pagination span.last,
table.data-grid th.pagination span.pages,
table.data-grid th.pagination span.current,
table.data-grid th.pagination span.counter
{
	cursor: default;
	top: 2px;
	background-color: #f0f0f0;
	color: #222;
	background-image: none;
	border: 1px solid #ccc;
	opacity: 0.8;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

table.data-grid th.pagination span.current,
table.data-grid th.pagination span.pages,
table.data-grid th.pagination span.counter {
	top: 0;
}

table.data-grid th.pagination span.counter {
	line-height: 20px;
	top: 0;
	height: 20px;
	-moz-box-sizing: content-box;
	padding: 2px 4px;
	white-space: nowrap;
	width: auto;
}


table.data-grid .disabled {
	background: #333 url(../../img/button-overlay.png) no-repeat left center;
}

table.data-grid a.pages {
	width: 24px;
	padding: 2px 0 3px 0;
	line-height: 20px;
}

table.data-grid span.current {

}


/**
* Link bar
*/
ul.link-bar {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.link-bar li {
	float: left;
	padding: 0 0.5em;
	border-left: 1px solid #ccc;
}

ul.link-bar li:first-child {
	border-left: none;
}

ul.link-bar li a {
	line-height: 12px;
	color: #005A9B;
	text-shadow: 0 1px #FFFFFF;
	text-decoration:none;
}

ul.link-bar li a:hover {
	text-decoration:underline;
}


ul.link-bar li a.active {
	cursor: default;
	color: #444444;
}

ul.link-bar li a.active:hover {
	text-decoration: none;
}


/**
* Tab Area
*/
.tab-area {
}

.tab-area ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding-left: 8px;
	-webkit-box-shadow: inset 0 -1px 0 #c5d5e5;
	-moz-box-shadow: inset 0 -1px 0 #c5d5e5;
}

.tab-area ul.tabs li {
	float: left;
	padding: 0.5em;
	background-color: #e4ebee;
	border: 1px solid #c5d5e5;
	margin: 0 1px;

	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-box-shadow: inset 0 1px 0 #e5edf3;
}

.tab-area ul.tabs li a {
	color: #80959e;
	text-decoration: none;
	font: normal 13px Arial;
	text-shadow: -1px 1px 0 #fff;
}

.tab-area ul.tabs li:hover {
	background-color: #eff4f6;
}

.tab-area ul.tabs li.active {
	background-color: #fff;
	border-bottom-color: transparent
}

.tab-area ul.tabs li.active a {
	color: #2d2d2d;
	text-shadow: none;
}

.tab-area .tab-content {
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #c5d5e5;
	border-top: 0;
	padding: 10px;
}



/** Side bar **/
.sidebar {
	padding: 0;
	background-color: #f2f2f2;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar ul li {
	padding: 6px 8px;
	border-right: 1px solid #dddddc;
	border-bottom: 1px solid #dddddc;
	border-top: 1px solid #fff;
	background: -moz-linear-gradient(left, #f2f2f2, #e6e6e6);
}

.sidebar ul li.active {
	border-right: 1px solid #fff;
	background: #fff;
	-moz-box-shadow: none;
}

.sidebar ul li.active a {
	font: bold 14px Arial;
	color: #2d2d2d;
}



/** Notices and Errors **/
div.message {
	clear: both;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;
}

div.error-message {
	font-size: 11px;
	font-style: italic;
	clear: both;
	color: red;
}

p.info, p.error, p.notice, p.success {
	display: block;
	padding: 15px 15px 15px 50px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 6px;
	cursor: pointer;

	font-family: Arial;
	font-size: 12px;
	line-height: 140%;

	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


p.info em, p.error em, p.notice em, p.success em {
	color: inherit;
	font-weight: bold;
	line-height: 140%;
}

/*background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e5e5e5));
	background: -moz-linear-gradient(top,  #f4f4f4,  #e5e5e5);*/

p.error {
	background: #FFD1D1 url("../../img/error.png") no-repeat 7px center;
	border: 1px solid #F8ACAC;
	color: #A20000;
}

.notice {
	background: #FFF5CC url("../../img/warning.png") no-repeat 7px center;
	border: 1px solid #ffcc00;
	color: #7B7100;
}

.success {
	background: #EAF7D9 url("../../img/success.png") no-repeat 7px center;
	border: 1px solid #BBDF8D;
	color: #336801;
}

.info {
	background: #E8F6FF url("../../img/information.png") no-repeat 7px center;
	border: 1px solid #B8E2FB;
	color: #005898;
}

/**
* Icon packs
*/
.icon {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	background-image: url(../../img/icons_pack_white.png);
	background-repeat: no-repeat;
	background-position: 16px 0;
	vertical-align: middle;
}

button .icon {
	position: relative;
	top: -1px;
	margin-right: 3px;
}

button.icon-only .icon {
	top: 0;
	margin: 0;
	align: center;
}

a.icon:hover {
    background-image: url(../../img/icons_pack_blue.png);
}

.icon.black {
	background-image: url(../../img/icons_pack.png);
    opacity: 0.9;
}

[disabled] .icon {
	opacity: 0.4;
	background-image: url(../../img/icons_pack.png) !important;
}


.icon.pencil { background-position: 0 0; }
.icon.edit { background-position: 0 0; }
.icon.brush { background-position: -32px 0; }
.icon.pen { background-position: -64px 0; }
.icon.marker { background-position: -96px 0; }
.icon.paintbrush { background-position: -128px 0; }
.icon.fill { background-position: -160px 0; }
.icon.eye { background-position: -192px 0; }
.icon.restricted { background-position: -224px 0; }
.icon.trash { background-position: -256px 0; }
.icon.search { background-position: -288px 0; }
.icon.magnifier { background-position: -288px 0; }
.icon.view { background-position: -288px 0; }
.icon.magnifier-minus { background-position: -320px 0; }
.icon.magnifier-plus{	background-position: -352px 0; }
.icon.wand { background-position: -384px 0; }
.icon.crosshair {	background-position: -416px 0; }

.icon.connect {    background-position: -64px -32px; }
.icon.lock {    background-position: -160px -32px; }
.icon.unlock {    background-position: -192px -32px; }
.icon.pin {	background-position: -224px -32px; }
.icon.lightning {	background-position: -416px -32px; }

.icon.person {	background-position: -64px -96px; }
.icon.person-business {	background-position: -96px -96px; }
.icon.person-casual {	background-position: -128px -96px; }
.icon.person-plus {	background-position: -160px -96px; }
.icon.person-minus {	background-position: -192px -96px; }
.icon.person-multiply {	background-position: -224px -96px; }
.icon.person-vcard {	background-position: -256px -96px; }
.icon.people {	background-position: -288px -96px; }
.icon.buildings {	background-position: -320px -96px; }
.icon.calendar-week {	background-position: -352px -96px; }
.icon.calendar {	background-position: -384px -96px; }

.icon.document {	background-position: 0 -128px; }
.icon.document-content {	background-position: -32px -128px; }
.icon.documents {	background-position: -64px -128px; }
.icon.folder-closed {	background-position: -96px -128px; }
.icon.folder-open {	background-position: -128px -128px; }
.icon.folder-lock {	background-position: -160px -128px; }
.icon.folder-plus {	background-position: -192px -128px; }
.icon.folder-minus {	background-position: -224px -128px; }
.icon.document-plus {	background-position: -256px -128px; }
.icon.document-minus {	background-position: -288px -128px; }
.icon.document-write {	background-position: -320px -128px; }
.icon.document-download {	background-position: -352px -128px; }



.icon.hollow-home {	background-position: 0 -160px; }
.icon.home {	background-position: -32px -160px; }

.icon.clipboard { background-position: -160px -192px; }


.icon.heart-hollow {	background-position: 0 -352px; }
.icon.heart {	background-position: -32px -352px; }
.icon.like {	background-position: -64px -352px; }
.icon.dislike {	background-position: -96px -352px; }
.icon.award {	background-position: -128px -352px; }
.icon.warning {	background-position: -160px -352px; }
.icon.check {	background-position: -192px -352px; }
.icon.checkbox {	background-position: -224px -352px; }
.icon.checkbox-dotted {	background-position: -256px -352px; }
.icon.tick {	background-position: -288px -352px; }
.icon.checkbox-circle {	background-position: -320px -352px; }
.icon.checkbox-circle-dotted {	background-position: -320px -352px; }
.icon.checkbox-circle-dotted {	background-position: -352px -352px; }
.icon.tick-circle {	background-position: -384px -352px; }
.icon.star {	background-position: -416px -352px; }

.icon.document-plus {	background-position: 0 -448px; }
.icon.save {	background-position: -32px -448px; }
.icon.undo {	background-position: -160px -448px; }
.icon.redo {	background-position: -192px -448px; }
.icon.binoculars {	background-position: -224px -448px; }
.icon.find {	background-position: -224px -448px; }
.icon.write {	background-position: -448px -448px; }


.icon.circle-bullet-gt {	background-position: -352px -480px; }
.icon.arrow-right-small {	background-position: -384px -480px; }
.icon.bullet-gt {	background-position: -384px -480px; }
.icon.hollow-bullet-triangle-down {	background-position: -416px -480px; }
.icon.bullet-triangle-down {	background-position: -448px -480px; }


.icon.control-first {	background-position: -96px -512px; }
.icon.control-previous {	background-position: -128px -512px; }
.icon.control-pause {	background-position: -160px -512px; }
.icon.control-play {	background-position: -192px -512px; }
.icon.control-next {	background-position: -224px -512px; }
.icon.control-last {	background-position: -256px -512px; }

.icon.refresh {	background-position: 0 -544px; }
.icon.question {    background-position: -256px -544px; }
.icon.warning {    background-position: -288px -544px; }
.icon.information {	background-position: -320px -544px; }
.icon.minimize {	background-position: -352px -544px; }
.icon.restore {	background-position: -384px -544px; }
.icon.maximize {	background-position: -416px -544px; }
.icon.plugin {	background-position: -448px -544px; }

.icon.hollow-circle-multiply {	background-position: 0 -576px; }
.icon.hollow-circle-minus {	background-position: -32px -576px; }
.icon.hollow-circle-plus {	background-position: -64px -576px; }
.icon.circle-minus {	background-position: -96px -576px; }
.icon.circle-plus {	background-position: -128px -576px; }
.icon.square-minus {	background-position: -160px -576px; }
.icon.square-plus {	background-position: -192px -576px; }
.icon.bullet-plus {	background-position: -224px -576px; }
.icon.bullet-minus {	background-position: -256px -576px; }
.icon.plus {	background-position: -288px -576px; }
.icon.minus {	background-position: -320px -576px; }
.icon.multiply {	background-position: -352px -576px; }
.icon.down {	background-position: -384px -576px; }
.icon.up {	background-position: -416px -576px; }


.icon.power {	background-position: 0px -608px; }
.icon.exit {	background-position: -32px -608px; }


.icon.external-link {	background-position: -256px -608px; }
.icon.download {	background-position: -416px -608px; }
.icon.upload {	background-position: -448px -608px; }

/**
* Markups
*/
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.hide {
	display: none;
}

.clear {
	clear: both;
}


.box-outline {
	border: 1px solid #98c6ea;
}

.drop-shadow {
	border: 1px solid #98c6ea;
	-moz-box-shadow: 0 0 6px #ccc;
	-webkit-box-shadow: 0 0 6px #ccc;
	box-shadow: 0 0 6px #ccc;
}

.required {
	color: red;
}

.highlight {
	color: #005A9B;
}

.no-margin {
	margin: 0 !important;
    padding: 0 !important;
}

.pre-space {
	margin-top: 10px;
}

.post-space {
	margin-bottom: 10px;
}

.small {
	font-size: 80%;
    line-height: 14px;
}

.gray {
	color: #888;
}

.block {
	display: inline-block;
    vertical-align: top;
}

.left-float > * {
	float: left;
}

.right-float > * {
	float: right;
}

.no-float > * {
	float: none;
}

.rounded-borders-all {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.rounded-borders-top, .rounded-borders-top > *:first-child, .rounded-borders-all > *:first-child  {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}

.rounded-borders-bottom, .rounded-borders-bottom > *:last-child, .rounded-borders-all > *:last-child {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}


.ajax-loading {
	background-image: url('../../img/ajax-loading-circ.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.ajax-loading-bar {
	display: inline-block;
	min-width: 50px;
	min-height: 12px;
	background-image: url('../../img/ajax-loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.input.ajax-loading {
	background-position: 160px center;
}



/**
* Fun
*/
ul.feature-list {
	margin: 0;
	padding: 4px;
	list-style: none;
}

ul.feature-list li {
	background: url(../img/icons/icon-16-featured.png) left center no-repeat;
	padding-left: 20px;
    min-height: 16px;
}